/* Width */

@media (max-width: 767px) {
	.xs-maxwi_100p{
    	max-width: 100px;
    }
	
	
	
	.xs-wi_auto{
		width: auto;
	}
	
	
	.xs-wi_50-20p {
        width: calc(50% - 20px);
    }
    .xs-wi_100_30p {
        width: calc(100% + 30px);
    }
    
    
    .xs-wi_100, .xs-wi_100_a.active{
        width: 100%;
    }
    .xs-wi_70 {
        width: 70%;
    }
    .xs-wi_50 {
        width: 50%;
    }
    .xs-wi_33 {
        width: 33.333%;
    }
    
    
    .xs-wi_300p{
    	width: 300px;
    }
    .xs-wi_100p{
    	width: 100px;
    }
    .xs-wi_80p{
    	width: 80px;
    }
}
@media (max-width: 480px) {
	.xxs-maxwi_80p{
    	max-width: 80px;
    }
	
	
	
	.xxs-wi_auto{
		width: auto;
	}
	.xxs-wi_100-20p {
        width: calc(100% - 20px);
    }
    .xxs-wi_100-20p {
        width: calc(100% - 20px);
    }
    .xxs-wi_100 {
        width: 100%;
    }
    .xxs-wi_50 {
        width: 50%;
    }
    
    .xxs-wi_50p {
        width: 50px;
    }
    .xxs-wi_25p {
        width: 25px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	.sm-wi_33-20p{
		width: calc(33% - 20px);
	}
	
	.sm-wi_100 {
        width: 100%;
    }
    .sm-wi_70 {
        width: 70%;
    }
    .sm-wi_50 {
        width: 50%;
    }
    .sm-wi_33{
    	width: 33.333%;
    }
}

@media (min-width: 991px) and (max-width: 1200px) {
	
}


/* Height */

@media (max-width: 767px) {
	.xs-maxhei_100-90p{
		max-height: calc(100% - 90px);
	}
	
	.xs-hei_auto{
        height: auto;
    }
		.xs-hei_autoi {
	        height: auto!important;
	    }
    .xs-hei_38p{
    	height: 38px;
    }
}
@media (max-width: 480px) {
	.xxs-hei_auto {
		height: auto;
	}
	.xxs-hei_50p {
        height: 50px;
    }
	.xxs-hei_30p{
		height: 30px;
	}
	.xxs-hei_25p{
		height: 25px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.sm-maxhei_100-90p{
		max-height: calc(100% - 90px);
	}
	
	
	.sm-hei_auto{
		height: auto;
	}
		.sm-hei_autoi {
	        height: auto!important;
	    }
}


/* Overflow */

@media (max-width: 767px) {
	.xs-ovfl_auto{
		overflow: auto;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.sm-ovfl_auto{
		overflow: auto;
	}
}


/* Display */

@media (max-width: 767px) {
	.hidden-xs, .xs-dnone{
        display: none;
    }
	    .hiddeni-xs, .xs-dnone_i{
	        display: none!important;
	    }
	
	
	.xs-dblock {
        display: block;
    }
	    .xs-dblock_i{
	        display: block!important;
	    }
}
@media (min-width: 768px) and (max-width: 991px) {
	.hidden-sm, .sm-dnone {
        display: none;
    }
	    .sm-dnone_i {
	        display: none!important;
	    }
}


/* Flex*/

@media (max-width: 767px) {
	.xs-fxdir_row{
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;	
		flex-direction: row;
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		-ms-box-orient: horizontal;
		box-orient: horizontal;
	}
}
@media (max-width: 480px) {
	.xss-fxdir_row{
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;	
		flex-direction: row;
		-webkit-box-orient: horizontal;
		-moz-box-orient: horizontal;
		-ms-box-orient: horizontal;
		box-orient: horizontal;
	}
}


/* Float */

@media (max-width: 767px) {
	.xs-pull-none {
        float: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	.sm-pull-none{
        float: none;
    }
}


/* Position */

@media (max-width: 767px) {
	.xs-pos_rel{
		position: relative;
	}
	.xs-pos_fix{
		position: fixed;
	}
	.xs-pos_fixi {
        position: fixed!important;
    }
	.xs-pos_sta{
		position: static;
	}
	.xs-pos_stai{
		position: static!important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.sm-pos_rel{
		position: relative;
	}
	.sm-pos_fix{
		position: fixed;
	}
	.sm-pos_fixi {
        position: fixed!important;
    }
	.sm-pos_sta{
		position: static;
	}
	.sm-pos_stai{
		position: static!important;
	}
}


/* Top/right/bottom/left */

@media (max-width: 767px) {
    .xs-top65pi {
        top: 65px!important;
    }
    .xs-top50pi {
        top: 50px!important;
    }
    .xs-top40pi {
        top: 40px!important;
    }
    
    .xs-left-100pi{
    	left: -100px!important;
    }
    .xs-left100pi{
    	left: 100px!important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	
    .sm-top65pi {
        top: 65px!important;
    }
    .sm-top50pi {
        top: 50px!important;
    }
    .sm-top40pi {
        top: 40px!important;
    }
    
    .sm-left-100pi{
    	left: -100px!important;
    }
    .sm-left100pi{
    	left: 100px!important;
    }
}



/* Spacing */

@media (max-width: 767px) {
    .xs-mar0 {
        margin: 0;
    }
    .xs-mar0i {
        margin: 0!important;
    }
    
    .xs-mart15 {
        margin-top: 15px;
    }
    
    .xs-marr0 {
        margin-right: 0px;
    }
    
    .xs-marb30 {
        margin-bottom: 30px;
    }
    .xs-marb15 {
        margin-bottom: 15px;
    }
    .xs-marb5 {
        margin-bottom: 5px;
    }
    .xs-marb0{
    	margin-bottom: 0;
    }
    
    .xs-marl0{
    	margin-left: 0;
    }
    
    .xs-marrl-15{
		margin-right: -15px;
		margin-left: -15px;
	}
    
    
    
    .xs-pad25 {
        padding: 25px;
    }
    .xs-pad10 {
        padding: 10px;
    }
    .xs-pad0 {
        padding: 0;
    }
    
    
    .xs-padtb15{
    	padding-top: 15px;
    	padding-bottom: 15px;
    }
    
    
    .xs-padrl20 {
        padding-right: 20px;
        padding-left: 20px;
    }
    .xs-padrl15 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .xs-padrl10 {
        padding-right: 10px;
        padding-left: 10px;
    }
    .xs-padrl10i {
        padding-right: 10px!important;
        padding-left: 10px!important;
    }
    
    
    .xs-padt25{
    	padding-top: 25px;
    }
    .xs-padt10 {
        padding-top: 10px;
    }
    .xs-padt0{
    	padding-top: 0;
    }
    
    
    .xs-padr15 {
        padding-right: 15px;
    }
    .xs-padr0 {
        padding-right: 0;
    }
    
    .xs-padb150 {
        padding-bottom: 150px;
    }
    .xs-padb30{
    	padding-bottom: 30px;
    }
    .xs-padb10{
    	padding-bottom: 10px;
    }
    
    
    .xs-padl15 {
        padding-left: 15px;
    }
    .xs-padl5 {
        padding-left: 5px;
    }
    .xs-padl0 {
        padding-left: 0;
    }   
}
@media (max-width: 480px) {
	.xxs-mart-20{
		margin-top: -20px;
	}
	
	
	
	.xxs-padrl20 {
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	.sm-mar0 {
        margin: 0;
    }
    .sm-mar0i {
        margin: 0!important;
    }
    
    .sm-marb5 {
        margin-bottom: 5px;
    }
    
    
    .sm-padt10 {
        padding-top: 10px;
    }
    
    .sm-padb150 {
        padding-bottom: 150px;
    }
    
    
    .sm-padl5 {
        padding-left: 5px;
    }
    .sm-pad0 {
        padding: 0;
    }
    .sm-pad10 {
        padding: 10px;
    }
}


/* Background color */
	
@media (max-width: 767px) {
	.xs-lgtgrey_bg{
		background-color: #f5f5f5;
	}
}


/* Box shadow */

@media (max-width: 767px) {
	.xs-bxsh_2220_03 {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	.sm-bxsh_2220_03 {
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
}


/* Border */

@media (max-width: 767px) {
	.xs-nobrd{
		border: none;
	}
	.xs-brdt{
		border-top: 1px solid #dfe3e6;
	}
	.xs-brdr{
		border-right: 1px solid #dfe3e6;
	}
	.xs-brdb{
		border-bottom: 1px solid #dfe3e6;
	}
	.xs-brdl{
		border-left: 1px solid #dfe3e6;
	}
}
@media (max-width: 480px) {
	.xxs-nobrd{
		border: none;
	}
	.xxs-brdt{
		border-top: 1px solid #dfe3e6;
	}
	.xxs-brdr{
		border-right: 1px solid #dfe3e6;
	}
	.xxs-brdb{
		border-bottom: 1px solid #dfe3e6;
	}
	.xxs-brdl{
		border-left: 1px solid #dfe3e6;
	}
}

/* TEXT */

@media (max-width: 767px) {
	.xs-talc{
		text-align: center;
	}
	.xs-talr{
		text-align: right;
	}
	.xs-tall{
		text-align: left;
	}
}


/* Line height */

@media (max-width: 480px) {
	.xxs-lgn_hight_20{
		line-height: 20px;
	}
	.xxs-lgn_hight_28{
		line-height: 28px;
	}
}


/* Font size */

@media (max-width: 767px) {
    .xs-fsz10 {
        font-size: 10px;
    }
    .xs-fsz10i {
        font-size: 10px!important;
    }
    .xs-fsz11{
    	font-size: 11px;
    }
    .xs-fsz15 {
        font-size: 15px;
    }
    .xs-fsz16 {
        font-size: 16px;
    }
    .xs-fsz18 {
        font-size: 18px;
    }
    .xs-fsz20 {
        font-size: 20px;
    }
    .xs-fsz22 {
        font-size: 22px;
    }
    .xs-fsz24 {
        font-size: 24px;
    }
    .xs-fsz28 {
        font-size: 28px;
    }
    .xs-fsz30{
    	font-size: 30px;
    }
    .xs-fsz32{
    	font-size: 32px;
    }
    .xs-fsz45{
    	font-size: 45px;
    }
}
@media (max-width: 480px) {
    .xxs-fsz12{
        font-size: 12px;
    }
    .xxs-fsz24{
        font-size: 24px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
	.sm-fsz10 {
        font-size: 10px;
    }
    .sm-fsz10i {
        font-size: 10px!important;
    }
    .sm-fsz16 {
        font-size: 16px;
    }
    .sm-fsz18 {
        font-size: 18px;
    }
    .sm-fsz20 {
        font-size: 20px;
    }
    .sm-fsz24 {
        font-size: 24px;
    }
    .sm-fsz28 {
        font-size: 28px;
    }
    .sm-fsz30{
    	font-size: 30px;
    }
    .sm-fsz32{
    	font-size: 32px;
    }
}


/* COLOR */

@media (max-width: 767px) {
	.xs-darkgrey_txt{
		color: #2d3e52;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	
}


/* Rows / Columns */

.row {
	
}
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
    position: relative;
    min-height: 1px;
}

@media (max-width: 1200px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0;
    }
}

@media (max-width: 980px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .col-xs-12 {
        width: 100%;
    }
    .col-xs-11 {
        width: 91.66666667%;
    }
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-8 {
        width: 66.66666667%;
    }
    .col-xs-7 {
        width: 58.33333333%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-5 {
        width: 41.66666667%;
    }
    .col-xs-4 {
        width: 33.33333333%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-2 {
        width: 16.66666667%;
    }
    .col-xs-1 {
        width: 8.33333333%;
    }
    .col-xs-pull-12 {
        right: 100%;
    }
    .col-xs-pull-11 {
        right: 91.66666667%;
    }
    .col-xs-pull-10 {
        right: 83.33333333%;
    }
    .col-xs-pull-9 {
        right: 75%;
    }
    .col-xs-pull-8 {
        right: 66.66666667%;
    }
    .col-xs-pull-7 {
        right: 58.33333333%;
    }
    .col-xs-pull-6 {
        right: 50%;
    }
    .col-xs-pull-5 {
        right: 41.66666667%;
    }
    .col-xs-pull-4 {
        right: 33.33333333%;
    }
    .col-xs-pull-3 {
        right: 25%;
    }
    .col-xs-pull-2 {
        right: 16.66666667%;
    }
    .col-xs-pull-1 {
        right: 8.33333333%;
    }
    .col-xs-pull-0 {
        right: auto;
    }
    .col-xs-push-12 {
        left: 100%;
    }
    .col-xs-push-11 {
        left: 91.66666667%;
    }
    .col-xs-push-10 {
        left: 83.33333333%;
    }
    .col-xs-push-9 {
        left: 75%;
    }
    .col-xs-push-8 {
        left: 66.66666667%;
    }
    .col-xs-push-7 {
        left: 58.33333333%;
    }
    .col-xs-push-6 {
        left: 50%;
    }
    .col-xs-push-5 {
        left: 41.66666667%;
    }
    .col-xs-push-4 {
        left: 33.33333333%;
    }
    .col-xs-push-3 {
        left: 25%;
    }
    .col-xs-push-2 {
        left: 16.66666667%;
    }
    .col-xs-push-1 {
        left: 8.33333333%;
    }
    .col-xs-push-0 {
        left: auto;
    }
    .col-xs-offset-12 {
        margin-left: 100%;
    }
    .col-xs-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-xs-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-xs-offset-9 {
        margin-left: 75%;
    }
    .col-xs-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-xs-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-xs-offset-6 {
        margin-left: 50%;
    }
    .col-xs-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-xs-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-xs-offset-3 {
        margin-left: 25%;
    }
    .col-xs-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-xs-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-xs-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0;
    }
}


/* Display */

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display: none;
}
@media (max-width: 767px) {
    .visible-xs {
        display: block;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell;
    }
}
@media (max-width: 767px) {
    .visible-xs-block {
        display: block;
    }
    .visible-xs-inline {
        display: inline;
    }
    .visible-xs-inline-block {
        display: inline-block;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm-block {
        display: block;
    }
    .visible-sm-inline {
        display: inline;
    }
    .visible-sm-inline-block {
        display: inline-block;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md-block {
        display: block;
    }
    .visible-md-inline {
        display: inline;
    }
    .visible-md-inline-block {
        display: inline-block;
    }
}
@media (min-width: 1200px) {
    .visible-lg {
        display: block;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell;
    }
}
@media (min-width: 1200px) {
    .visible-lg-block {
        display: block;
    }
    .visible-lg-inline {
        display: inline;
    }
    .visible-lg-inline-block {
        display: inline-block;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none;
    }
}
.visible-print {
    display: none;
}
@media print {
    .visible-print {
        display: block;
    }
    table.visible-print {
        display: table;
    }
    tr.visible-print {
        display: table-row;
    }
    th.visible-print,
    td.visible-print {
        display: table-cell;
    }
}
.visible-print-block {
    display: none;
}
@media print {
    .visible-print-block {
        display: block;
    }
}
.visible-print-inline {
    display: none;
}
@media print {
    .visible-print-inline {
        display: inline;
    }
}
.visible-print-inline-block {
    display: none;
}
@media print {
    .visible-print-inline-block {
        display: inline-block;
    }
}
@media print {
    .hidden-print {
        display: none;
    }
}
