/* General */

.container{
	position: relative;
}

/* Color */

.grey_txt{
	color: #838383;
}

.bg_colorn_new{
	background-color: #6985ed;
}
/* Background color */

.hov_dblue_bg.active, .hov_dblue_bg:hover{
	background: #1479ad;
}
.hov_white_bg.active, .hov_white_bg:hover{
	background: #FFFFFF;
}

.lightgreen_bg{
	background-color: #98ce44;
}
.red_bg{
	background-color: #d71920;
}
.purple_bg{
	background-color: #826aaf;
}
.lightpurple_bg{
	background-color: #d82b91;
}
.greenblue_bg{
	background-color: #00768c;
}


/* Background image */

.image-1-bg{
	background: url('../images/bg/image-1-bg.jpg') no-repeat 50% 50%;
	background-size: cover;
}


/* Width */
.wi_110p {
	width: 110px;
}


/* Header */

.header {
    z-index: 35;
}
.header.header_small{
	height: 40px;
}
.fixed_header{
	width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
}

/* Logo */

.header_small .logo{
	width: auto;
	height: 30px;
}
.header_small .logo img{
	width: auto;
	max-height: 100%;
}

/* Top menu */

.top_menu_custom{
	width: auto;
	float: right;
	padding: 0;
}
.top_menu > ul > li.app_menu-grey > a{
	background-position: -35px -75px;
}


/* Sub header */
.sub_header_brd_blue{
	border-bottom-color: #b3e1f2;
}
.sub_header_brd_large{
	height: 65px;
}

/* Dynamic menu */

#dynamic_menu{
	padding-top: 8px;
}
#dynamic_menu .nav-links li.active:after{
	bottom: 6px;
	border-bottom-width: 2px;
	border-bottom-color: #b3e1f2;
}



/* Language selector*/

.languages{
	position: relative;
	padding-top: 8px;
	padding-bottom: 11px;
	white-space: nowrap;
}
.languages:before{
	content: '';
	width: 0;
	height: 45px;
	display: block;
	position: absolute;
	top: 50%;
	left: -10px;
	margin-top: -22px;
	border-right: #3f97c5 1px solid;
}
.header_small .languages:before{
	height: 30px;
	top: 0;
	margin-top: 0;
}

#language_selector:after{
	content: "";
    width: 15px;
    height: 10px;
    display: inline-block;
    background: url(../images/sprites/sprite.png) no-repeat -100px -2650px;
    margin-left: 15px;
}

.languages ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
}
.languages a{
	display: block;
	text-decoration: none;
}
.languages img{
	vertical-align: bottom;
}

/* User menu */

.header_small .usermenu ul{
	padding-top: 0;
}
.header_small .usermenu ul li a{
	height: 30px;
	line-height: 30px;
}

.header.white_bg .usermenu ul li a:not([class*="btn"]){
	text-shadow: none;
	color: #3691c0;
}
.header.white_bg .usermenu ul li a:not([class*="btn"]):hover{
	color: #fff;
}


/* Inline list */

.list-inline{
	list-style: none;
	text-align: center; 
}
.list-inline > li{
	display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

/* Nav links */

.nav-links{
	
}
.nav-links li{
	position: relative;
}
.nav-links li.active:after{
	content: '';
	content: "";
	width: 100%;
    height: 4px;
    border-bottom: 4px solid #3691c0;
    position: absolute;
    bottom: -1px;
    left: 0;
}
.nav-links li a:not(.white_txt):hover, .nav-links li.active a:not(.white_txt){
	color: #3691c0;
}


/* Scroll fix */

.scroll-fix{
	height: 0;
	position: relative;
	z-index: 30;
}
.scroll-fix-wrap{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.scroll-fix.affix .scroll-fix-wrap{
	position: fixed;
}

/* Selectric styles */


div.selectric-custom{
	padding-top: 7px;
	padding-bottom: 7px;
}
.selectric-custom.selectricWrapper{
	width: auto;
}
select.selectric-custom{
	display: none;
}
.blue_bg .selectric-custom .selectric,
.button_selectric.blue_bg .selectric-custom .selectric{
	background-color: #3691c0;
}
.lightgreen_bg .selectric-custom .selectric,
.button_selectric.lightgreen_bg .selectric-custom .selectric{
	background-color: #98ce44;
}
.red_bg .selectric-custom .selectric,
.button_selectric.red_bg .selectric-custom .selectric{
	background-color: #d71920;
}
.purple_bg .selectric-custom .selectric,
.button_selectric.purple_bg .selectric-custom .selectric{
	background-color: #826aaf;
}
.lightpurple_bg .selectric-custom .selectric,
.button_selectric.lightpurple_bg .selectric-custom .selectric{
	background-color: #d82b91;
}
.greenblue_bg .selectric-custom .selectric,
.button_selectric.greenblue_bg .selectric-custom .selectric{
	background-color: #00768c;
}
.white_bg .selectric-custom .selectric,
.button_selectric.white_bg .selectric-custom .selectric{
	background-color: #FFF;
}
.grey_bg .selectric-custom .selectric,
.button_selectric.grey_bg .selectric-custom .selectric{
	background-color: #EFEFEF;
}
.light_grey_bg .selectric-custom .selectric,
.button_selectric.light_grey_bg .selectric-custom .selectric{
	background-color: #f7f7f7;
}
.dblue_bg .selectric-custom .selectric,
.button_selectric.dblue_bg .selectric-custom .selectric{
	background-color: #1479ad;
}
.cyanblue_bg .selectric-custom .selectric,
.button_selectric.cyanblue_bg .selectric-custom .selectric{
	background-color: #19b699;
}
.green_bg .selectric-custom .selectric,
.button_selectric.green_bg .selectric-custom .selectric{
	background-color: #72bf44;
}
.lgtblue_bg .selectric-custom .selectric,
.button_selectric.lgtblue_bg .selectric-custom .selectric{
	background-color: #e9f7fe;
}

.lgtgrey_bg .selectric-custom .selectric,
.button_selectric.lgtgrey_bg .selectric-custom .selectric{
	background-color: #f5f5f5;
}
.grey_bg .selectric-custom .selectric,
.button_selectric.grey_bg .selectric-custom .selectric{
	background-color: #efefef;
}
.orange_bg .selectric-custom .selectric,
.button_selectric.orange_bg .selectric-custom .selectric{
	background-color: #f9aa20;
}







.selectric-custom .selectric .label{
	font-size: 14px;
	color: #fff;
}
.selectric-custom .selectric .button:after{
	width: 15px;
    height: 10px;
    border: none;
    background: url(../images/sprites/sprite.png) no-repeat -100px -2650px;
}

.selectric-custom .selectricItems{
	min-width: 150px;
	padding-top: 11px;
	padding-bottom: 14px;
	border: 1px solid #f1f1f1; 
	background-color: #fafafa;
}
.center_selectric .selectricItems{
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.selectric_table{
	width: 100%;
	display: table;
	table-layout: fixed;
}
.selectric_cell{
	display: table-cell;
	border-left: 1px solid #e1e1e1;
	vertical-align: left;
}
.selectric_cell:first-child{
	border: none;
}


.selectric-custom .selectricItems ul{
	margin: 0;
	padding: 0;
}
.selectric-custom .selectricItems li{
    padding: 9px 15px;
    border: none;
    line-height: 15px;
    font-size: 13px;
    transition: background .25s ease-in-out;
}
.selectric-custom .selectricItems li, .selectric-custom .selectricItems li.selected{
    background-color: #fafafa;
    color: #555;
}
.selectric-custom .selectricItems li:not(.title):not(.filler):hover{
	background-color: #eee;
}


.selectric-custom.hide_first .selectricItems li:first-child{
	display: none!important;
}
.selectric-custom li.hasIcon{
	position: relative;
	padding-left: 40px;
}
.selectric-custom .selectricItems img{
	width: auto;
	max-width: 20px;
	height: auto;
	max-height: 20px;
	position: absolute;
	top: 50%;
	left: 15px; 
	vertical-align: bottom;
	transform: translate(0, -50%);
}


.selectric-custom li.disabled{
	opacity: 0.8;
}
.selectric-custom li.disabled.filler{
	overflow: hidden;
	opacity: 1;
	text-indent: -9999px;
}
.selectric-custom li.disabled.title{
	opacity: 1;
	padding-bottom: 6px;
	color: #909090;
}
.disabled-items li.default{
	display: none!important;
}


.selectricItems.disabled-2{
	min-width: 400px;
}
.selectricItems.disabled-3{
	min-width: 5250px;
}
.selectricItems.disabled-4{
	min-width: 700px;
}





#menu_builders .disabled-5 .selectricItems{
	min-width: 600px;
}
#menu_builders .disabled-6 .selectricItems{
	min-width: 720px;
}

/* TABS */

.tab-content{
	display: none;
	position: relative;
}
.tab-content.active{
	display: block;
}



/* Sign up page */

.signup_path{
	
}
.signup_path ul{
	height: 25px;
	position: relative;
	margin: 0;
	padding: 0;
	
}
.signup_path ul:before{
	content: '';
	width: 100%;
	height: 1px;
	display: block;
	position: absolute;
	z-index: 1;
	top: 12px;
	left: 0;
	background-color: #ebebeb;
}
.signup_path li{
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	top: 0;
	z-index: 10;
	margin: 0;
	padding: 0;
	border: 1px solid #ebebeb;
	border-radius: 20px;
	background-color: #fff;
	line-height: 23px;
	text-align: center;
}
.signup_path li:nth-child(1){
	left: 0;
}
.signup_path li:nth-child(2){
	left: 50%;
	margin-left: -12px;
}
.signup_path li:nth-child(3){
	right: 0;
}

.signup_path li.active{
	border-color: #dd4b39;
	background: #dd4b39;
    color: #fff;
}




.custom_tootip_class{
	max-width: 300px;
}
.custom_tootip_class .tooltip_btn{
	background-color: #f2f2f2;
    border-top: 1px solid #ccc;
}




















