/* Width */
.wi_10 {
	width: 10%;
}
.wi_12_5{
	width: 12.5%;
}
.wi_20 {
	width: 20%;
}
.wi_25 {
	width: 25%;
}
.wi_30 {
	width: 30%;
}
.wi_33_333{
	width: 33.333%;
}
.wi_35 {
	width: 35%;
}
.wi_40 {
	width: 40%;
}
.wi_45 {
	width: 45%;
}
.wi_50 {
	width: 50%;
}
.wi_60 {
	width: 60%;
}
.wi_70 {
	width: 70%;
}
.wi_75 {
	width: 75%;
}
.wi_80 {
	width: 80%;
}
.wi_85 {
	width: 85%;
}
.wi_90 {
	width: 90%;
}
.wi_95 {
	width: 95%;
}
.wi_100 {
	width: 100%;
}