.bs_border, .bs_bb{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Width */

.minwi_20p{
	min-width: 20px;
}
.minwi_100{
	min-width: 100%;
}

.maxwi_100{
	max-width: 100%;
}

.wi_100_i, .wi_100i{
	width: 100%!important;
}

.wi_auto{
	width: auto;
}

.wi_98{
	width: 98%;
}
.wi_66{
	width: 66.666%;
}
.wi_49{
	width: 49%;
}
.wi_33, .wi_33_333{
	width: 33.333%;
}
.wi_15{
	width: 15%;
}


.wi_720p{
	width: 720px;
}
.wi_240p{
	width: 240px;
}
.wi_126p{
	width: 126px;
}
.wi_100p{
	width: 100px;
}
.wi_80p{
	width: 80px;
}
.wi_50p{
	width: 50px;
}
.wi_40p{
	width: 40px;
}
.wi_30p{
	width: 30px;
}
.wi_20p{
	width: 20px;
}
.wi_14p{
	width: 14px;
}


/* Height */

.minhei_20p{
	min-height: 20px;
}

.hei_auto{
	height: auto;
}

.hei_100{
	height: 100%;
}
.hei_98{
	height: 98%;
}

.hei_100p{
	height: 100px;
}
.hei_80p{
	height: 80px;
}
.hei_75p{
	height: 75px;
}
.hei_60p{
	height: 60px;
}
.hei_50p{
	height: 50px;
}
.hei_40p{
	height: 40px;
}
.hei_30p{
	height: 30px;
}
.hei_14p{
	height: 14px;
}


/* Overflow */

.overfl_auto{
	overflow: auto;
}
.overfl_hid{
	overflow: hidden;
}


/* Display */

.hidden {
	display: none!important;
}
.dflex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

/* Flex */

.fxwrap_w{
	-webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.justc_c{
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}
.alit_c{
	-webkit-jalign-items: center;
	-moz-jalign-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

/* Float */

.clrl{
	clear: left;
}

/* Position */

.pos_abs{
	position: absolute;
}
.pos_rel{
	position: relative;
}
.pos_sta{
	position: static;
}

/* Top/right/bottom/left */

.top0{
	top: 0;
}
.top1{
	top: 1%;
}
.top50{
	top: 50%;
}

.right0{
	right: 0;
}

.left0{
	left: 0;
}
.left1{
	left: 1%;
}
.left50{
	left: 50%;
}

/* Z-index*/

.zind5{
	z-index: 5;
}

/* Spacing */

.marrl-2{
	margin: 0 -2px;
}
.marrl-5{
	margin: 0 -5px;
}

.marl85{
	margin-left: 85px;
}

.padrl2{
	padding: 0 2px;
}


.pad0i{
	padding: 0!important;
}
.padrl10i{
	padding: 0 10px!important;
}
.padrl15i{
	padding: 0 15px!important; 
}

/* Borders */

.brd{
	border: 1px solid #dfe3e6;
}
.brdt{
	border-top: 1px solid #dfe3e6;
}
.brdr{
	border-right: 1px solid #dfe3e6;
}
.brdb{
	border-bottom: 1px solid #dfe3e6;
}
.brdl{
	border-left: 1px solid #dfe3e6;
}

.nobrd{
	border: none!important;
}
.nobrdt{
	border-top: none!important;
}
.nobrdr{
	border-right: none!important;
}
.nobrdb{
	border-bottom: none!important;
}
.nobrdl{
	border-left: none!important;
}

.brdb_blue_h:hover{
	border-bottom: 1px solid #23c1f4;
}
.brdb_darkblue_h:hover{
	border-bottom: 1px solid #2f69b3;
}
.brdb_green_h:hover{
	border-bottom: 1px solid #72bf44;
}
.brdb_yellow_h:hover{
	border-bottom: 1px solid #fcaf17;
}
.brdb_lgtblue_h:hover{
	border-bottom: 1px solid #e9f7fe;
}

/* - border width */

.brdwi_2{
	border-width: 2px;
}
.brdwi_6{
	border-width: 6px;
}


.brdt_lightblue{
	border-top: 6px solid #b2cdd7!important;
}
.brdt_blue{
	border-top: 6px solid #5597b2!important;
}
.brdt_darkblue{
	border-top: 6px solid #00587c!important;
}


.brd_white{
	border-color: #fff;
}
.brdclr_lgtgrey2{
	border-color: #f9f9f9;
}
.brdclr_lgtgrey{
	border-color: #f5f5f5;
}
.brdclr_red1{
	border-color: #CB0007;
}
.brdclr_red2{
	border-color: #FA2F36;
}


.brd_table_perim td{
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-right-color: #dfe3e6;
    border-bottom-color: #dfe3e6;
}
.brd_table_perim tr:first-child > td {
    border-top-color: #dfe3e6;
}
.brd_table_perim tr > td:first-child {
    border-left-color: #dfe3e6;
}

.brd_table_noperim td{
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-right-color: #dfe3e6;
    border-top-color: #dfe3e6;
}
.brd_table_noperim tr:first-child > td {
    border-top-color: transparent;
}
.brd_table_noperim tr > td:last-child {
    border-right-color: transparent;
}




/* Border radius */

.brdrad5{
	border-radius: 5px;
}
.brdrad10{
	border-radius: 10px;
}

.brdradtr5{
	border-radius: 5px 5px 0 0;
}

/* Background */


.blue_bg_a.active, .blue_bg_h:hover{
	background-color: #3691c0;
}
.green_bg_a.active, .green_bg_h:hover{
	background-color: #72bf44;
}
.lgtblue_bg_a.active, .lgtblue_bg_h:hover{
	background-color: #e9f7fe;
}
.lgtgrey2_bg, .lgtgrey2_bg_a.active, .lgtgrey2_bg_h:hover{
	background-color: #f9f9f9;
}
.lgtgrey_bg_a.active, .lgtgrey_bg_h:hover{
	background-color: #f5f5f5;
}
.grey_bg_a.active, .grey_bg_h:hover{
	background-color: #efefef;
}
.red_bg_a.active, .red_bg_h:hover{
	background-color: #e3232d;
}
.pink_bg, .pink_bg_a.active, .pink_bg_h:hover{
	background-color: #ffe6e6;
}


.bg_255_02, .bg_255_02_a.active, .bg_255_02_h:hover{
	background-color: rgba(255, 255, 255, 0.2);
}


/* Text */

.uppercase{
	text-transform: uppercase;
}
.weight_normal{
	font-weight: normal;
}

.ff_inh{
	font-family: inherit;
}

.wordb_ba{
	word-break: break-all;
}


/* Color */

.lgtgrey_txt, .lgtgrey_txt_a.active, .lgtgrey_txt_h:hover{
	color: #939598;
}
.black_txt_h:hover{
	color: #000000;
}

/* Cursor */

.curp{
	cursor: pointer;
}
.curt{
	cursor: text;
}


/* Expander */

.expander-toggler .up,
.expander-toggler.target_shown .down{
	display: none;
}
.expander-toggler.target_shown .up{
	display: inline-block;
}



/* Boolean */

.boolean-control input[type="checkbox"]{
	display: none;
}
.boolean-control-wrap{
	width: 155px;
	max-width: 100%;
	overflow: hidden;
	border: 2px solid #3691c0;
	border-radius: 4px;
}
.boolean-control-small .boolean-control-wrap{
	width: 110px;
	border-width: 1px;
	border-color: #dfe3e6;
}
.boolean-control-options{
	position: relative;
}
.boolean-control-options:before{
	content: '';
	width: 50%;
	height: 100%;
	display: block;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 50%;
	background-color: #3691c0;
	-webkit-transition: left 0.3s ease-in-out;
	-moz-transition: left 0.3s ease-in-out;
	-ms-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}
.boolean-control-green .boolean-control-options:before{
	background-color: #EFEFEF;
}
.boolean-control-green.checked .boolean-control-options:before{
	background-color: #98ce44;
}

.boolean-control.checked .boolean-control-options:before{
	left: 0;
}

.boolean-control-options a{
	width: 50%;
	height: 25px;
	display: block;
	float: left;
	position: relative;
	z-index: 20;
	text-transform: uppercase; 
	text-decoration: none;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.boolean-control.checked .boolean-control-options a.true,
.boolean-control-options a.false{
	color: #fff;
}

.boolean-control-options a.true,
.boolean-control.checked .boolean-control-options a.false,
.boolean-control-green .boolean-control-options a.false{
	color: #2d3e52;
}


/* Input controls */

input, select, textarea{
	/*border: 1px solid #dfe3e6;*/
	border: 1px solid rgb(169, 169, 169);
}
input.pad10, select.pad10{
	height: 40px;
}
input.pad5, select.pad5{
	height: 29px;
}


/* Select */

select.input_white_field {
    background: #FFF;
    border: none;
    padding: 7px 8px;
    color: #9e9e9e;
    border: #e7e7e7 1px solid;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    font-size: 12px;
}
select.input_white_field[disabled="disabled"]{
	background-color: #e7e7e7;
}

.cv_px{
	font-size: 14px;
}

/* custom tab */

.tab-header-custom{
	margin: 0;
	padding: 0;
}

.tab-header-custom.no_total li{
	width: 20%;
}
.tab-header-custom3.no_total li{
	width: 33.333%;
}
.tab-header-custom4.no_total li{
	width: 25%;
}


.tab-header-custom li{
	width: 14.3056%;
	display: block;
	float: left;
	line-height: 14px;
}
.tab-header-custom3 li{
	width: 23.8426666%;
}
.tab-header-custom4 li{
	width: 17.882%;
}
.tab-header-custom:not(.no_total) li:first-child{
	width: 28.472%;
}

.tab-header-custom a{
	height: 75px;
	display: block;
	position: relative;
	padding-top: 25px;
	background-color: #f5f5f5;
	color: #547c9c; 
}
.tab-header-custom:not(.no_total) li:first-child a{
	background-color: #f2f2f2;
	color: #6599c3;
}
.tab-header-custom .active a, .tab-header-custom a:hover, .tab-header-custom li.active:first-child a, .tab-header-custom li:first-child a:hover{
	background-color: #fff;
}
.tab-header-custom a:before{
	content: '';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -7px;
	border-width: 7px;
	border-color: transparent;
	border-top-color: #f5f5f5;
}
.tab-header-custom a:before{
	content: '';
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -7px;
	border-width: 7px;
	border-style: solid;
	border-color: transparent;
	border-top-color: #f5f5f5;
}
.tab-header-custom:not(.no_total) li:first-child a:before{
	border-top-color: #f2f2f2;
}

.tab-header-custom .count{
	display: block;
	line-height: normal;
	font-size: 26px;
}
.tab-header-custom:not(.no_total) li:first-child .count{
	font-size: 56px;
}


/* dotted button */

.dotted_btn{
	width: 40px;
    height: 40px;
    display: block;
    padding: 12px 0;
	border-radius: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 5px;
}
.dotted_btn:hover{
	color: #01b7f2;
}



/* SERVICES */

.category-apps a{
    height: 125px;
}
.category-apps a span {
	width: 30px;
	height: 33px;
	background-image: url("../images/product-icon-sprite.png");
	background-repeat: no-repeat;
	margin: 0 auto 10px;
	text-indent: -999em;
}
.new{
	top: 0;
    left: 0;
}


.pi1 {
	background-position: left top
}
.pi2 {
	background-position: -36px top
}
.pi3 {
	background-position: -70px top
}
.pi4 {
	background-position: -105px top
}
.pi5 {
	background-position: -140px top
}
.pi6 {
	background-position: -175px top
}
.pi7 {
	background-position: -2px -34px
}
.pi8 {
	background-position: -36px -34px
}
.pi9 {
	background-position: -3px -66px
}
.pi10 {
	background-position: -37px -66px
}
.pi11 {
	background-position: -72px -68px
}
.pi12 {
	background-position: -109px -68px
}
.pi13 {
	background-position: -141px -68px
}
.pi14 {
	background-position: -176px -68px
}
.pi15 {
	background-position: -213px -68px
}
.pi16 {
	background-position: left -104px
}
.pi17 {
	background-position: -38px -104px
}
.pi18 {
	background-position: -3px -138px
}
.pi19 {
	background-position: -38px -138px
}
.pi20 {
	background-position: -2px -171px
}
.pi21 {
	background-position: -38px -171px
}
.pi22 {
	background-position: -68px -100px;
	width: 32px;
}
.pi24 {
	background-position: -208px 0;
}
.pi25 {
	background-position: -242px 0;
}
.pi26 {
	background-position: -71px -175px;
}
.pi27 {
	background-position: -100px -101px;
}
.pi28 {
	background-position: -135px -102px
}
.pi29 {
	background-position: -245px -66px;
}
.pi30 {
	background-position: -273px 0;
}
.pi31 {
	background-position: -274px -66px;
}
.pi32 {
	background-position: -67px -34px;
}
.pi33 {
	background-position: -102px -175px;
}
.pi34 {
	background-position: -100px -35px;
}
.pi35 {
	background-position: -307px -63px;
}
.pi36 {
	background-position: -309px 5px;
}

.featured-app span {
	height: 60px !important;
	width: 64px !important;
}
.featured-app .pi1 {
	background-position: left -205px;
	margin-bottom: 5px;
}
.featured-app .pi9 {
	background-position: -72px -208px;
	margin-bottom: 5px;
}
.featured-app .pi16 {
	background-position: -134px -205px;
	margin-bottom: 5px;
}
.featured-app .pi20 {
	background-position: -195px -205px;
	margin-bottom: 5px;
}
.featured-app .pi7 {
	background-position: -265px -208px;
	margin-bottom: 5px;
}
.featured-app .pi18 {
	background-position: -326px -205px;
	margin-bottom: 5px;
}

/* Score */

.passport .qapscore_bord {
    position: absolute;
    z-index: 1;
    top: 130px;
    right: 40px;
    
}
.passport .qapscore_bord .score {
    border: #f2f0f0 5px solid;
    background: #FFF;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    color: #c7c9c7;
    margin: 0 5px 0 0;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.passport .qapscore_bord .score.scorelevel {
    border: #f2f0f0 5px solid;
    background: #fffbcc;
    border-color: #fbf4a8;
    width: 50px;
    height: 50px;
    color: #fcaf17;
}

/* Show more hover link */

.show_more_parent:hover .show_more_hover{
	display: block;
}
.show_more_hover{
	background: url(../images/cyan_trans.png);
} 
.show_more_hover a{
    display: inline-block;
    padding: 60px 80px;
    border: #FFFFFF 2px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #3691c0;
    text-align: center;
    line-height: normal;
    color: #FFFFFF;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.show_more_hover_mini a{
	padding: 30px 40px;
}


/* UPLOAD */

/* Upload custom */

.wp_columns_upload_custom{
	position: relative;
}
.wp_columns_upload_custom .imgwrap{
	width: 100%;
	height: auto;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	box-sizing: border-box;
	border: white 2px solid;
	background-image: url('../images/default-profile-pic.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto auto;
    background-color: #dddddf;
}
.wp_columns_upload_custom .imgwrap:before{
	content: '';
	width: 0;
	height: 0;
	display: block;
	padding-top: 100%;
}
.wp_columns_upload_custom .cropped_image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.wp_columns_upload_custom .subimg_load {
    position: absolute;
    z-index: 5;
    bottom: 5px;
    left: 5px;
    margin: 0;
    padding-bottom: 5px;
}
.wp_columns_upload_custom .load_button{
	display: none;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #FFF;
    color: #999;
}





#image-cropper{
	position: relative;
	top: 0;
	left: 0;
	margin-top: 15px;
	text-align: center;
}
#image-cropper .cropit-image-preview{
	width: 120px;
	height: 120px;
    margin: 0 auto;
    background-color: #ccc;
}
#image-cropper .cropit-image-zoom-input{
	margin: 20px auto;
}
#image-cropper .cropit-image-input{
	display: none;
}
#image-cropper .select-image-btn{
	display: block;
    margin: 0 auto;
}
#image-cropper .button-area{
	margin-top: 15px;
	text-align: center;
}
#image-cropper .button-area input{
	cursor: pointer;
}


/* ICONS  */


.icon{
	display: inline-block;
}
.icon-state{
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}
.icon-accepted{
	background-image: url('../images/icon-accepted.png');
}
.icon-refused{
	background-image: url('../images/icon-refused.png');
	background-size: 18px;
}


/* SLIDE MODAL */

#slide_modal{
	width: 400px;
	height: 100%;
	display: block;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 100%;
	transform: translateZ(0);
	transition: all 0.25s ease-in-out;
	box-sizing: border-box;
}
#slide_modal.show{
	transform: translate(-100%, 0) translateZ(0);
}

#slide_modal .slide_modal_header{
	height: 20px;
}
#slide_modal .close{
	top: 5px;
	right: 15px;
}
#slide_modal .modal_content{
	height: calc(100% - 20px);
	box-sizing: border-box;
}
#slide_modal .modal_apply_btn{
}
#slide_modal .modal_inner_content{
	height: calc(100% - 50px);
	overflow: auto;
	box-sizing: border-box;
}


#slide_fade{
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
	position: fixed;
	z-index: 998;
	top: 0;
	left: 0;
	background-color: #000;
	transition: all 0.25s ease-in-out;
}
#slide_fade.show{
	opacity: 0.6;
}

body.showing_modal{
	overflow: hidden;
}



/* Invoke vex modal */

.vex.vex-theme-default.invoke_add_modal, .vex.invoke_add_modal{
	padding-top: 30px;
}
.vex.vex-theme-default.invoke_add_modal .vex-overlay, 
.vex.invoke_add_modal .vex-overlay{
	display: none;
}

.vex.vex-theme-default.invoke_add_modal .vex-content,
.vex.invoke_add_modal .vex-content{
	width: 700px;
	padding: 0;
	webkit-box-shadow: 0 0 40px rgba(0,0,0,0.25),0 0 0 #000;
    -moz-box-shadow: 0 0 40px rgba(0,0,0,0.25),0 0 0 #000;
    -ms-box-shadow: 0 0 40px rgba(0,0,0,0.25),0 0 0 #000;
    -o-box-shadow: 0 0 40px rgba(0,0,0,0.25),0 0 0 #000;
    box-shadow: 0 0 40px rgba(0,0,0,0.25),0 0 0 #000;
	border-radius: 0;
	background-color: #fff;
}
.vex.vex-theme-default.invoke_add_modal .vex-close,
.vex.invoke_add_modal .vex-close{
	border-radius: 0;
}
.vex.vex-theme-default.invoke_add_modal .vex-close:before,
.vex.invoke_add_modal .vex-close:before{
	height: 40px;
	top: 0;
	right: 0;
	border-radius: 0;
	background: rgba(255,255,255,0);
	line-height: 38px;
	color: #fff;
}
.vex.vex-theme-default.invoke_add_modal .vex-close:hover:before, .vex.vex-theme-default.invoke_add_modal .vex-close:active:before,
.vex.invoke_add_modal .vex-close:hover:before, .vex.invoke_add_modal .vex-close:active:before{
	background: rgba(255,255,255,0.2);
	color: #fff;
}

.vx_modal_content{
	height: 520px;
	overflow: auto;
}


/* POPUP */

.popup{
	max-width: 100%;
	opacity: 0;
	display: none;
	position: absolute;
	z-index: 99;
	top: 50px;
	left: 50%;
	webkit-box-shadow: 0 0 40px rgba(0,0,0,0.25),0 0 0 #000;
    -moz-box-shadow: 0 0 40px rgba(0,0,0,0.25),0 0 0 #000;
    -ms-box-shadow: 0 0 40px rgba(0,0,0,0.25),0 0 0 #000;
    -o-box-shadow: 0 0 40px rgba(0,0,0,0.25),0 0 0 #000;
    box-shadow: 0 0 40px rgba(0,0,0,0.25),0 0 0 #000;
	-webkit-transform: translate(-50%, 0) translateZ(0);
    -moz-transform: translate(-50%, 0) translateZ(0);
    -ms-transform: translate(-50%, 0) translateZ(0);
    -o-transform: translate(-50%, 0) translateZ(0);
    transform: translate(-50%, -50px) translateZ(0);
}
.popup:not([class*='wi_']){
	width: 600px;
}

#wp_fade{
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;
	/*background-color: rgba(0, 0, 0, 0.5);*/
}
.popup, #wp_fade{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.popup.show{
	transform: translate(-50%, 0) translateZ(0);
}
.popup.show, #wp_fade.show{
	opacity: 1;
}

.popup .popup_close{
	display: block;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
}
.popup .popup_close:before{
	content: '\00D7';
}


/* Toggle active */

.toggle-base:not(.active) .toggle-active-show,
.toggle-base.active .toggle-active-hide{
	display: none;
}

