.fsz10 {
	font-size: 10px;
}
.fsz11 {
	font-size: 11px;
}
.fsz12 {
	font-size: 12px;
}
.fsz13 {
	font-size: 13px;
}
.fsz14 {
	font-size: 14px;
}
.fsz16 {
	font-size: 16px;
}
.fsz18 {
	font-size: 18px;
}
.fsz20 {
	font-size: 20px;
}
.fsz21 {
	font-size: 21px;
}
.fsz22 {
	font-size: 22px;
}
.fsz24 {
	font-size: 24px;
}
.fsz26 {
	font-size: 26px;
}
.fsz28 {
	font-size: 28px;
}
.fsz30 {
	font-size: 30px;
}
.fsz32 {
	font-size: 32px;
}
.fsz34 {
	font-size: 34px;
}
.fsz36 {
	font-size: 36px;
}
.fsz38 {
	font-size: 38px;
}
.fsz40 {
	font-size: 40px;
}
.fsz40 {
	font-size: 40px;
}
.fsz42 {
	font-size: 42px;
}
.fsz44 {
	font-size: 44px;
}
.fsz46 {
	font-size: 46px;
}
.fsz48 {
	font-size: 48px;
}
.fsz50 {
	font-size: 50px;
}
.fsz52 {
	font-size: 52px;
}
.fsz54 {
	font-size: 54px;
}
.fsz56 {
	font-size: 56px;
}
.fsz58 {
	font-size: 58px;
}
.fsz60 {
	font-size: 60px;
}
.fsz62 {
	font-size: 62px;
}
.fsz64 {
	font-size: 64px;
}
.fsz68 {
	font-size: 68px;
}
.fsz70 {
	font-size: 70px;
}